body {
  margin: 0;
  padding: 0;
  background: #a1dad0;
  color: #cdcdcd;
  font: 20px "century gothic";
}

a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

.navbar {
  background-color: #0a737a;
  overflow: hidden;
  height: 63px;
}

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navbar ul {
  margin: 8px 0 0 0;
  list-style: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: #000;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover {
  color: #fff;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 20px;
  overflow: hidden;
  width: 100%;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}
.bottom-left {
  position: block;
  bottom: 8px;
  left: 16px;
}
h1 {
  position: absolute;
  left: 30px;
  top: -0.7em;
  color: white;
  font: 50px "century gothic";
}
h2 {
  position: absolute;
  left: 240px;
  top: -2px;
  font: 16.7px "century gothic";
  color: white;
}
h3 {
  position: absolute;
  left: 350px;
  top: 100px;
  font: 40px "century gothic";
  color: white;
}

form {
  position: block;
  width: 900px;
  height: 867px;
  margin: 0 auto;
}

#contact {
  position: absolute;
  left: 460px;
  top: 240px;
  color: white;
}

#visit {
  position: absolute;
  left: 460px;
  top: 510px;
  color: white;
}
#hear {
  position: absolute;
  left: 460px;
  top: 475px;
  color: white;
}

label {
  font: 0.8em "century gothic";
}

input,
textarea {
  font: 0.9em/1.5em "century gothic";
  border: 0px solid whitesmoke;
  border-radius: 20px;
  padding: 0 10px;
  margin: 0;
  width: 135px;
  background: whitesmoke;
}
input:focus,
textarea:focus {
  background: #bcbdbc;
  border-radius: 20px;
  outline: none;
}
input {
  height: 2.5em;
  vertical-align: middle;
  color: white;
}
textarea {
  display: block;
  padding: 10px;
  margin: 2px 0 0 -10px;
  width: 180px;
  height: 10px;
  resize: none;
  overflow: auto;
  color: black;
}
button {
  position: absolute;
  top: 650px;
  left: 440px;
  width: 200px;
  height: 100px;
  padding: 20px;
  margin: 20px;
  font: bold 1em "century gothic";
  border: 2px solid;
  color: white;
  border-radius: 10px;
  background: none;
  cursor: pointer;
}
button:after {
  content: " >>>";
  font-size: 1em;
  transition: 0.1s font-size linear;
}
button:hover:after {
  font-size: 2em;
  transition: 0.1s font-size linear;
}
/* button:hover {
        font-size: 18px;
        transition: 0.1s font-size linear;
      } */

button:focus {
  outline: none;
  background: white;
  color: black;
}
@media (max-width: 900px) {
  .navbar-nav {
    display: none;
  }
}
@media (min-width: 568) {
  /*.open-slide{display:none}*/
}
